/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #8d90d7 !important;
  --toolbarbutton-icon-fill: #c0c1ff !important;
  --toolbar-field-color: #e4e1e8 !important;
  --tab-selected-textcolor: #c0c1ff !important;
  --toolbar-color: #e4e1e8 !important;
  --arrowpanel-color: #e4e1e8 !important;
  --arrowpanel-background: #1f1f24 !important;
  --sidebar-text-color: #e4e1e8 !important;
  --zen-main-browser-background: #131317 !important;
}

.sidebar-placesTree {
  background-color: #1f1f24 !important;
}

#zen-workspaces-button {
  background-color: #1f1f24 !important;
}

#TabsToolbar {
  background-color: #131317 !important;
}

.urlbar-background {
  background-color: #1f1f24 !important;
}

.urlbar-input::selection {
  color: #262969 !important;
  background-color: #c0c1ff !important;
}

.urlbarView-url {
  color: #c7c5d2 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #c0c1ff
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #c9caff !important;
  --identity-icon-color: #c9caff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #c0c1ff !important;
  --identity-icon-color: #c0c1ff !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffb5 !important;
  --identity-icon-color: #a5ffb5 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffe6a5 !important;
  --identity-icon-color: #ffe6a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffd872 !important;
  --identity-icon-color: #ffd872 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fb6 !important;
  --identity-icon-color: #ff9fb6 !important;
}

.identity-color-pink {
  --identity-tab-color: #d2d3ff !important;
  --identity-icon-color: #d2d3ff !important;
}

.identity-color-purple {
  --identity-tab-color: #404176 !important;
  --identity-icon-color: #404176 !important;
}

#zen-appcontent-navbar-container {
  background-color: #131317 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #c0c1ff !important;
  color: #c0c1ff !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #c0c1ff !important;
  color: #c0c1ff !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #c0c1ff !important;
}
