[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Calendar
Exec=/usr/lib64/chromium-browser/chromium-browser.sh --profile-directory=Default --app-id=kjbdgfilnfhdoflbpgamdcdgpehopbep
Icon=chrome-kjbdgfilnfhdoflbpgamdcdgpehopbep-Default
StartupWMClass=crx_kjbdgfilnfhdoflbpgamdcdgpehopbep
