[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gmail
Exec=/usr/lib64/chromium-browser/chromium-browser.sh --profile-directory=Default --app-id=fmgjjmmmlfnkbppncabfkddbjimcfncm
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=crx_fmgjjmmmlfnkbppncabfkddbjimcfncm
